@{
	ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center" id="sudoku-parent">
	<div class="sudoku-box sudoku-box-column" id="controls">
		<p class="button" id="btn-new-game">New<br />Game</p>
		<p class="button" id="btn-reset">Reset</p>
		<p class="button" id="btn-note">Note</p>
		<p class="button" id="btn-hint">Hint</p>
		<p class="button" id="btn-undo">Undo</p>
		<p class="button" id="btn-pause">Pause</p>
	</div>
	<div class="sudoku-box" id="sudoku-board">
	</div>
	<div class="sudoku-box sudoku-box-column" id="numbers">
		<p class="number button" id="n1">1</p>
		<p class="number button" id="n2">2</p>
		<p class="number button" id="n3">3</p>
		<p class="number button" id="n4">4</p>
		<p class="number button" id="n5">5</p>
		<p class="number button" id="n6">6</p>
		<p class="number button" id="n7">7</p>
		<p class="number button" id="n8">8</p>
		<p class="number button" id="n9">9</p>
	</div>
</div>