/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

@media only screen and (orientation: portrait) {
	.sudoku-box-column {
		display: flex;
		flex-direction: row-reverse;
		max-width: var(--board-size);
	}

	.sudoku-box {
		margin-left: 0;
		margin-right: 0;
	}

	#sudoku-parent {
		flex-direction: column;
	}

	#controls {
		overflow: hidden !important;
		min-width: 33rem;
		/*max-height: fit-content;*/
		/*transition: min-width 0.5s ease-out;*/
	}

	#control-info {
		flex-direction: row-reverse;
		width: var(--board-size);
	}

	#numbers {
		width: var(--board-size);
	}

	#info {
		max-height: fit-content;
	}
}

@media only screen and (orientation: landscape) {
	.sudoku-box {
		/*		margin-top: var(--between-box-size);
		margin-bottom: var(--between-box-size);*/
		margin-left: 0;
		margin-right: 0;
	}

	.sudoku-box-column {
		display: flex;
		flex-direction: column;
	}

	#sudoku-parent {
		/*justify-content: space-around;*/
	}

	#controls {
		overflow: hidden !important;
		min-height: 33rem;
		/*transition: min-height 0.5s ease-out;*/
	}

	#control-info {
		height: var(--board-size);
		flex-direction: column;
	}

	#numbers {
		height: var(--board-size);
	}
}

@media only screen and (max-width: 355px), (max-height: 250px) {
	:root {
		font-size: 5px;
		--between-box-size: 0.5rem;
	}
}

@media only screen and (min-width: 355px) and (min-height: 250px) {
	:root {
		font-size: 6px;
		--between-box-size: 1rem;
	}
}

@media only screen and (min-width: 355px) and (min-height: 290px) {
	:root {
		font-size: 7px;
	}
}

@media only screen and (min-width: 465px) and (min-height: 330px) {
	:root {
		font-size: 8px;
	}
}

@media only screen and (min-width: 600px) and (min-height: 410px) {
	:root {
		font-size: 10px;
	}
}

@media only screen and (min-width: 695px) and (min-height: 490px) {
	:root {
		font-size: 12px;
	}
}

@media only screen and (min-width: 815px) and (min-height: 570px) {
	:root {
		font-size: 14px;
	}
}

@media only screen and (min-width: 992px) and (min-height: 650px) {
	:root {
		font-size: 16px;
		--between-box-size: 2rem;
	}
}

@media only screen and (min-width: 1200px){
	:root {
		/*font-size: 16px;*/
		--between-box-size: 4rem;
	}
}

:root {
	--box-padding: 1rem;
	--button-padding: 0.4rem;
	--board-size: 40rem;
	--sudoku-square-size: 3.7rem;
	--note-square-size: 1.146rem;
	--game-table-border-spacing: 0.67rem;
}

* {
	box-sizing: border-box;
}

.sudoku-box {
	background-color: #477998;
	border-radius: 1rem;
	/*padding: 0rem;*/
	color: #C4D6B0;
}

.sudoku-box-column {
	padding: var(--box-padding);
	justify-content: space-between;
	align-items: center;
	border-radius: 2rem;
}

.button {
	display: inline-block;
	display: flex;
	align-content: center;
	justify-content: center;
	/*margin: auto;*/
	padding: var(--button-padding);
	text-align: center;
	background-color: #291F1E;
	border-radius: 1rem;
	font-size: 2rem;
	width: 5.5rem;
}

	.button:hover {
		background-color: #2f2827;
		cursor: pointer;
	}

.number {
	width: 4rem;
	min-width: 4rem;
	height: 4rem;
	min-height: 4rem;
}

td.sudoku-square {
	border-radius: 1rem;
	width: var(--sudoku-square-size);
	height: var(--sudoku-square-size);
	position: relative;
	border-style: none;
}

p.sudoku-square {
	position: relative;
	top: 1px;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 2rem;
}

.unselected {
	background-color: #291F1E;
}

	.unselected:hover {
		background-color: #2f2827;
	}

.selected {
	background-color: #324454;
}

	.selected:hover {
		background-color: #394f63;
	}

.highlighted {
	background-color: #4b4d4f;
}

	.highlighted:hover {
		background-color: #595c5e;
	}

.correct {
	color: #C4D6B0;
}

.incorrect {
	color: #d6b6b0;
}

td.note-square {
	width: var(--note-square-size);
	min-width: var(--note-square-size);
	height: var(--note-square-size);
	min-height: var(--note-square-size);
	/*background-color: #939393;*/
}

p.note-square {
	position: relative;
	top: -3px;
	max-width: 1.146rem;
	max-height: 1.146rem;
	text-align: center;
	font-size: 0.95rem;
	margin: auto;
	padding: 0;
	/*font-weight: bold;*/
}

.note-table {
	text-align: center;
	line-height: 1rem;
	font-weight: bold;
	width: var(--sudoku-square-size);
	height: var(--sudoku-square-size);
}

.hidden {
	display: none;
}

.page-container{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}

#sudoku-board {
	min-width: var(--board-size);
	min-height: var(--board-size);
	max-width: var(--board-size);
	max-height: var(--board-size);
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

#menu {
	width: 0;
	height: 0;
	border-radius: 2rem;
	position: absolute;
	z-index: 200;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
	transition: height 0.5s ease-out, width 0.5s ease-out, padding 0.5s ease-out;
}

#sudoku-parent {
	display: flex;
	justify-content: space-around;
	align-items: center;
/*	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/
	width: 100%;
	max-width: 75rem;
	height: 100%;
	max-height: 80rem;
}

#control-info {
	display: flex;
	justify-content: space-between;
}

#game-table {
	border-collapse: separate;
	border-spacing: var(--game-table-border-spacing);
	width: var(--board-size);
	height: var(--board-size);
	position: absolute;
	z-index: 100;
	border-style: none;
}

#drawing {
	position: absolute;
	background-color: none;
	z-index: 1;
	width: 40rem;
	height: 40rem;
}

#info {
	overflow: hidden !important;
	/*transition: min-height 0.5s ease-out;*/
}

body {
	/*font-size: 12px;*/
	background-color: #B79492;
}

td {
	padding: 0;
}

p {
	margin: 0;
}

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
	color: #0366d6;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	/*font-size: 14px;*/
}

@media (min-width: 768px) {
	html {
		/*font-size: 16px;*/
	}
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	/*margin-bottom: 60px;*/
/*	width: 100%;
	height: 100%;
	position: absolute;*/
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 60px; /* Vertically center the text there */
}
