/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.page-background {
	background-color: #b4b4b4;
}

.sudoku-box {
	background-color: #5389c0;
	margin-left: 2rem;
	margin-right: 2rem;
	padding: 1rem;
}

.sudoku-box-column {
	width: 6rem;
	height: 40rem;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-evenly;
	border-radius: 2rem;
	width: fit-content;
}

.button {
	display: inline-block;
	display: flex;
	align-content: center;
	justify-content: center;
	margin: auto;
	padding: 0.4rem;
	text-align: center;
	background-color: #3b76b1;
	border-radius: 1rem;
	font-size: 2rem;
}

.number {
	width: 4rem;
	height: 4rem;
}

/*p.number {
	text-align: center;
	padding: 0;
	margin: 0;
	font-size: 2rem;
	width: fit-content;
}*/

.sudoku-square {
	width: 3.22rem;
	height: 3.22rem;
	background-color: #acf3cd;
	border-radius: 1rem;
	margin: 0.5rem;
	padding: 0;
	text-align: center;
	font-size: 2rem;
}

#sudoku-board {
	width: 40rem;
	height: 40rem;
	border-radius: 3rem;
}

#numbers {
}

#sudoku-parent {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

body {
	font-size: 12px;
}

td {
	padding: 0;
}

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
	color: #0366d6;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 60px; /* Vertically center the text there */
}
