/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*.page-background {
	background-color: #b4b4b4;
}*/

.sudoku-box {
	background-color: #477998;
	margin-left: 2rem;
	margin-right: 2rem;
	padding: 0rem;
	color: #C4D6B0
}

.sudoku-box-column {
	width: fit-content;
	min-width: fit-content;
	height: 40rem;
	min-height: 40rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border-radius: 2rem;
	padding: 1rem;
}

.button {
	display: inline-block;
	display: flex;
	align-content: center;
	justify-content: center;
	margin: auto;
	padding: 0.4rem;
	text-align: center;
	background-color: #291F1E;
	border-radius: 1rem;
	font-size: 2rem;
}

.number {
	width: 4rem;
	min-width: 4rem;
	height: 4rem;
	min-height: 4rem;
}

td.sudoku-square {
	border-radius: 1rem;
	width: 3.442rem;
	min-width: 3.442rem;
	height: 3.442rem;
	min-height: 3.442rem;
	position: relative;
}

.unselected {
	background-color: #291F1E;
}

	.unselected:hover {
		background-color: #2f2827;
	}

.selected {
	background-color: #324454;
}

	.selected:hover {
		background-color: #394f63;
	}

.highlighted {
	background-color: #4b4d4f;
}

	.highlighted:hover {
		background-color: #595c5e;
	}

.correct {
	color: #C4D6B0;
}

.incorrect {
	color: #d6b6b0;
}

p.sudoku-square {
	position: relative;
	top: 1px;
	width: 3.442rem;
	min-width: 3.442rem;
	height: 3.442rem;
	min-height: 3.442rem;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 2rem;
}

td.note-square {
	width: 1.146rem;
	min-width: 1.146rem;
	height: 1.146rem;
	min-height: 1.146rem;
	/*background-color: #939393;*/
}

p.note-square {
	position: relative;
	top: -3px;
	max-width: 1.146rem;
	max-height: 1.146rem;
	text-align: center;
	font-size: 0.95rem;
	margin: auto;
	padding: 0;
	/*font-weight: bold;*/
}

.note-table {
	/*	position: absolute;
	z-index: 100;*/
}

.hidden {
	display: none;
}

#sudoku-board {
	min-width: 40rem;
	min-height: 40rem;
	border-radius: 2rem;
}

#numbers {
}

#sudoku-parent {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 100%;
}

#game-table {
	border-collapse: separate;
	border-spacing: 0.9rem;
	position: absolute;
	z-index: 100;
}

#drawing {
	position: absolute;
	background-color: none;
	z-index: 1;
	/*	Setting canvas width and height using css distorts the image... for some reason.
	width: 40rem;
	height: 40rem;*/
}

body {
	font-size: 12px;
	background-color: #B79492;
}

td {
	padding: 0;
}

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
	color: #0366d6;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 60px; /* Vertically center the text there */
}
